* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Header */
header {
  background-color: #2a2a6a;
}

.logo {
  width: 175px;
  height: 100px;
  margin: 2%;
  padding: 2%;
}

.cta-button {
  display: none;
}

.header-img {
  width: 100%;
  margin-bottom: 3%;
  margin-top: -4%;
}

nav ul li {
  display: none;
}

iframe {
  width: 100%;
  height: 400px;
  margin-top: -3.5%;
}


/* Universal Styling */
h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.75rem;
}

a {
  color: #3b9bfd;
}

a:hover {
  color: #2a2a6a;
  text-decoration: none;
}

.btn-primary {
  background-color: #ffe873;
  color: #2a2a6a;
  border: none;
}

.btn-primary a {
  color: #2a2a6a;
}

.btn-primary:hover {
  background-color: #3b9bfd;
  color: white;
}

.btn-secondary {
  background-color: #252525;
}

.btn-secondary:hover {
  background-color: #2a2a6a;
}


/* Home page */

h1.home-header {
  background-color: #2a2a6a;
  color: white;
  text-align: center;
  padding: 5%;
  margin-top: -1.5%;
}

.four-boxes {
  text-align: center;
  margin-top: 2%;
  padding: 2%;
  background-color: #3b9bfd;
}

.four-boxes a {
  color: white;
}

.four-boxes a:hover {
  color: #2a2a6a;
}

.recent-events {
  background-color: #2a2a6a;
}

.recent-events h1 {
  text-align: center;
  color: white;
}

.recent-events ul li {
  color: white;
  padding-left: 5%;
}

.testimonial {
  background-color: #ffe873;
  padding: 1%;
  margin: 2% 0;
  width: 100%;
}

.testimonials-section h1 {
  margin-top: 5%;
}


/* About page */
.about-h1 {
  text-align: center;
}

.team-members {
  background-color: #ffe873;
  padding: 2%;
}

.mentors {
  margin: 2%;
  text-align: center;
}

.mentor-profiles {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.mentor-profiles p {
  font-size: 0.75rem;
  margin: auto;
  width: 55%;
}

.mentor-img, .member-img {
  width: 150px;
  height: 150px;
  padding: 3%;
}

img.member-img {
  margin: auto;
  text-align: center;
}


/* Services page */
h2 {
  font-size: 1.2rem;
}


/* Apply page */
.apply-now {
  background-color: #3b9bfd;
  color: white;
  padding: 5%;
  text-align: center;
}

.apply-h1 {
  text-align: center;
}


/* Contact Form */
.contact-form {
  border: 2px solid #2a2a6a;
  padding: 2%;
  text-align: center;
  margin: auto;
  width: 75%;
  margin-bottom: 3%;
}

#name, #phone, #email, #message {
  border: 2px solid #2a2a6a;
  width: 75%;
}

#message {
  height: 200px;
}

input#name, input#phone, input#email {
  margin-bottom: 5%;
}

div.apply-link {
  text-align: center;
  margin-bottom: 3%;
}


/* Footer */
footer {
  background-color: #2a2a6a;
  text-align: center;
}

.address {
  color: white;
  padding-top: 4%;
  font-size: 0.8rem;
}

.footerlogo {
  width: 125px;
  height: 50px;
}

.fbicon {
  width: 30px;
  height: 30px;
}

.linkedinicon {
  width: 40px;
  height: 40px;
}

.social-media-links {
  margin-top: 5%;
}



/* Media queries */

@media (min-width: 600px) {
  .logo {
    height: 100px;
    padding: 0;
    margin-left: 5%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .cta-button {
    display: block;
    float: right;
    margin-top: 5%;
  }

  .cta-button a:hover {
    color: white;
    text-decoration: none;
  }

  iframe {
    margin-top: -3%;
  }

  h1.home-header {
    font-size: 2.5rem;
  }

  .header-img {
    margin-top: -2.6%;
  }

  nav ul {
    padding: 1.75%;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #ffe873;
    text-decoration: none;
  }

  nav ul li {
    display: inline;
    text-align: center;
    margin: 5%;
  }

  nav {
    text-align: center;
    background-color: #3b9bfd;
  }

  .four-boxes {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #ffe873;

  }

  .four-boxes div {
    width: 50%;
    margin: auto;
    padding: 5%;
  }

  .four-boxes h1 {
    font-size: 3rem;
  }

  .testimonial {
    padding: 1%;
  }

  .testimonials {
    display: flex;
    width: 100%;
  }

  .members-section {
    display: flex;
    padding: 3%;
    justify-content: space-between;
  }

  .member {
    width: 47%;
  }

  #name, #phone, #email, #message {
    width: 50%;
  }

  .contact-form {
    text-align: left;
  }

  button.btn.btn-primary.submit {
    margin: auto;
    text-align: center;
  }

  .apply-link {
    font-size: 1.25rem;
  }

  .apply-now {
    padding: 1.5%;
  }

  footer {
    display: flex;
    padding: 4%;
  }

  .footerlogo {
    width: 125px;
    height: 60px;
    padding: 2%;
    margin-top: 10%;
  }

  .address {
    font-size: 0.7rem;
  }

  .fbicon {
    width: 30px;
    height: 30px;
  }

  .linkedinicon {
    width: 40px;
    height: 40px;
  }

  .social-media-links {
    margin-top: 4%;
  }
}


@media (min-width: 850px) {
  .logo {
    width: 225px;
    height: 125px;
  }

  iframe {
    margin-top: -2.5%;
  }

  h1.home-header {
    font-size: 3rem;
  }

  .header-img {
    margin-top: -2%;
  }

  .home-blurb {
    font-size: 1.25rem;
  }

  .footerlogo {
    width: 150px;
    height: 75px;
    margin-bottom: 5%;
  }

  footer {
    padding: 2%;
  }
}


@media (min-width: 950px) {
  nav ul {
    padding: 1.025%;
  }

  nav ul li {
    font-size: 1.25rem;
  }

  iframe {
    margin-top: -1.5%;
  }

  .address {
    font-size: 0.9rem;
  }

  .footerlogo {
    width: 175px;
    height: 75px;
    margin-bottom: 5%;
  }

  .fbicon {
    width: 40px;
    height: 40px;
  }

  .linkedinicon {
    width: 50px;
    height: 50px;
  }
}
