* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Header */
header {
  background-color: #2a2a6a;
}

.logo {
  width: 300px;
  height: 100px;
  margin: 2%;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li {
  display: inline;
  text-align: center;
  margin: 5%;
}

nav {
  text-align: center;
  background-color: #3b9bfd;
}


/* Universal Styling */
h1 {
  font-family: 'Bebas Neue', cursive;
}



/* Footer */
footer {
  background-color: #2a2a6a;
}

.address {
  color: white;
  margin: 5%;
  padding: 2%;
}
