* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Header */
header {
  background-color: #2a2a6a;
}

.logo {
  width: 300px;
  height: 100px;
  margin: 2%;
}

nav ul li {
  display: none;
}


/* Universal Styling */
h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #ffe873;
  color: #2a2a6a;
  border: none;
}

.btn-primary:hover {
  background-color: #3b9bfd;
  color: white;
}

.btn-secondary {
  background-color: #252525;
}

.btn-secondary:hover {
  background-color: #2a2a6a;
}

.four-boxes {
  text-align: center;
  margin-top: 2%;
  padding: 2%;
}

.four-boxes a {
  color: #2a2a6a;
}

.four-boxes a:hover {
  text-decoration: none;
  color: #3b9bfd;
}

.recent-events {
  background-color: #2a2a6a;
}

.recent-events h1 {
  text-align: center;
  color: white;
}

.recent-events ul li {
  color: white;
  padding-left: 5%;
}

.testimonial {
  background-color: #ffe873;
  padding: 2%;
}

.testimonials h1 {
  margin-top: 5%;
}

.two, .three {
  border-top: 2px solid black;
}

.about-h1 {
  text-align: center;
}

.team-members {
  background-color: #ffe873;
  padding: 2%;
}

.mentors {
  margin: 2%;
}

/* Contact Form */
.contact-form {
  border: 2px solid #2a2a6a;
  padding: 2%;
  margin-bottom: 2%;
  width: 50%;
  text-align: center;
}

#name, #phone, #email {
  border: 2px solid #2a2a6a;
}

#message {
  border: 2px solid #2a2a6a;
}

input {
  margin-bottom: 5%;
}

/* Footer */
footer {
  background-color: #2a2a6a;
  text-align: center;
}

.address {
  color: white;
  margin: 5% 2%;;
  padding: 2%;
  font-size: 0.8rem;
}

.footerlogo {
  width: 100px;
  height: 50px;
}

.fbicon {
  width: 30px;
  height: 30px;
}

.linkedinicon {
  width: 40px;
  height: 40px;
}

.social-media-links {
  margin-top: 5%;
}



/* Media queries */

@media (min-width: 600px) {

  nav ul li a {
    color: white;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #ffe873;
    text-decoration: none;
  }

  nav ul li {
    display: inline;
    text-align: center;
    margin: 5%;
  }

  nav {
    text-align: center;
    background-color: #3b9bfd;
  }

  footer {
    display: flex;
  }

  .footerlogo {
    width: 125px;
    height: 60px;
    margin-top: 50%;
    padding: 2%;
    margin-left: 50%;
  }

  .address {
    font-size: 0.7rem;
    margin-top: 9%;
  }

  .fbicon {
    width: 30px;
    height: 30px;
  }

  .linkedinicon {
    width: 40px;
    height: 40px;
  }

  .social-media-links {
    margin-left: 25%;
    margin-top: 12%;
    display: inline-block;
  }
}
